<%- include('./partials/header') %>

    <ul>
    <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
             - 
            <%= s.have ? 'have' : 'dont have' %>
        </li>
    <% }); %>
</ul> 
<a href="/todos/new">Adding Skills</a>


<%- include('./partials/footer') %>
